<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= site_name %>: <%= yield :title %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />


  <%= stylesheet_link_tag 'site/app.css' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=BenchNine:400,700|Germania+One' %>
    <!--[if lt IE 8]
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <%= csrf_meta_tag %>
  <%= yield :head %>

  <%= render 'shared/metadata' %>

</head>
<body >
<div id='body_wrapper'>
  <%= render :partial => '/shared/welcome_header'%>

  <div id='content_wrapper' class='row'>
    <%= yield %>
  </div>
  <div id='prefooter_wrapper'>&nbsp;</div>
</div>
  <%= render 'shared/main_footer' %>
  <%= yield :bottom %>
  <%= javascript_include_tag 'application' %>


  <%= yield :js_bottom %>
</body>
  <%= render 'shared/google_analytics' unless @disable_ga %>
  <%= yield :below_body %>
</html>
